<!-- sidebar.ejs -->
<div class="sidebar">
    <link rel="stylesheet" href="/css/drivers.css">

  <h3>Admin Menu</h3>
  <ul>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/drivers">Manage Drivers</a></li>
    <li><a href="/admin/patients">Manage Patients</a></li>
    <li><a href="/admin/ambulances">Manage Fleet</a></li>
    <li><a href="/Trips">Trip Management</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
